# ignore IDE project files
*.iml
.idea/

.pc

_build

debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/golang-github-cavaliergopher-grab-dev.substvars
debian/golang-github-cavaliergopher-grab-dev/


